@model MultiSelectFieldEditorViewModel;

@if (Model == null) return;

<div class="mb-3">
  <label for="@Model.Id">@Model.Label</label>
  <select class="form-select" id="@Model.Id" name="@Model.FieldName" multiple>
    @foreach (var option in Model.Options)
    {
      <option value="@option.Value" selected='@(Model.Value.Contains(option.Value))'>@option.Label</option>  
    }
  </select> 
</div>
