@using Clearly.Crud.WebUi.Client.Models.Dto
@using Clearly.Crud.WebUi.Client.Shared.DisplayComponents
@using Clearly.Crud.WebUi
@using Newtonsoft.Json.Linq

@inherits BaseStringEditorComponent

<div class="mb-3">
    <label for="@FieldDefinition.NameKey" class="form-label">@FieldDefinition.DisplayName</label>
    <input id="@FieldDefinition.NameKey" type="text" class="form-control" name="@FieldDefinition.NameKey" placeholder="@FieldDefinition.DisplayName" @bind="Value" />
</div>
