@using Clearly.Crud.EntityGraph
@using Clearly.Crud.WebUi.Client.Shared.DisplayComponents
@using Clearly.Crud.WebUi
@using Clearly.Crud.WebUi.Core
@using Newtonsoft.Json.Linq

@inherits BaseDisplayComponent

@inject IDataSourceFactory dataSourceFactory
@inject IDataSourceReader<KeyValuePair<string, string>> dataSourceReader;

<div class="mb-3">
  <label for="@PropertyDefinitionNode.NodeKey">@PropertyDefinitionNode.DisplayName</label>
  <select class="form-select" id="@PropertyDefinitionNode.NodeKey" name="@PropertyDefinitionNode.NodeKey" @bind="Value" multiple>
    @foreach (var option in Options)
    {
      <option value="@option.Value">@option.Label</option>  
    }
  </select> 
</div>

@code
{
    protected JArray Value
    {
        get
        {
            if (Input.Value.Type == JTokenType.Object && Input.Value is JArray jArray)
            {
                return jArray;
            }

            return new JArray();
        }

        set
        {
            Input.Value = JArray.FromObject(value);
        }
    }

    protected CrudAdminDropDownFeature Configuration { get; set; } = new CrudAdminDropDownFeature();

    protected IEnumerable<MultiSelectOption> Options { get; set; } = Array.Empty<MultiSelectOption>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Configuration = PropertyDefinitionNode.GetFeature<CrudAdminDropDownFeature>();

        var dataSource = await dataSourceFactory.Create(Configuration.DataSourceType, Configuration.DataSource);
        var data = await dataSourceReader.ReadFrom(dataSource);

        Options = data.Select(x => new MultiSelectOption
        {
            Value = x.Key,
            Label = x.Value,
        });
    }

    protected class MultiSelectOption
    {
        public string Value { get; set; } = string.Empty;
        public string Label { get; set; } = string.Empty;
    }
}