@model DropDownFieldEditorViewModel;

@if (Model == null) return;

@{
  var value = Model.Value as string ?? string.Empty;
}

<div class="mb-3">
  <label for="@Model.Id">@Model.Label</label>
  <select class="form-select" id="@Model.Id" name="@Model.FieldName">
    @foreach (var option in Model.Options)
    {
      <option value="@option.Value" selected='@(option.Value == @Model.Value)'>@option.Label</option>  
    }
  </select> 
</div>