@using Clearly.Crud.Search
@using Clearly.Crud.WebUi.Client.Models
@using Clearly.Crud.WebUi.Client.Services
@using Clearly.Crud.WebUi.ViewModels
@using System.Text.Json
@using Newtonsoft.Json.Linq

@inject HttpClient http
@inject IEntityApiService entityService
@inject NavigationManager navigationManager;

<section class="py-3">
    <div class="mb-3">
        <form method="get">
            <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                @foreach (var column in @TableDefinition.Columns)
                {
                    <th>@column.DisplayName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Results) 
            {
                <tr>
                    @foreach (var column in @TableDefinition.Columns)
                    {
                        JToken property = record.GetValue(column.Key.ToCamelCase());
                        <td>
                            <DynamicComponent Type="GetComponentType(column.DisplayComponent)" Parameters="GetParamaters(property)"></DynamicComponent>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="paging navigation">
        <ul class="pagination justify-content-center">
        
            <li class="page-item @(IsDisabled(PreviousPage))">
                <a class="page-link" href='@GetPageUrl(CurrentPage - 1)' aria-label="previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @foreach (int pageNumber in LinkedPages.Where(x => x > 0 && x <= PageCount).OrderBy(x => x))
            {
                <li class="page-item @(IsDisabled(pageNumber))">
                    <a class="page-link" aria-label="page @pageNumber" href='@GetPageUrl(pageNumber)'>@pageNumber</a>
                </li>
            }
        
            <li class="page-item @(IsDisabled(NextPage))">
                <a class="page-link" href='@GetPageUrl(CurrentPage + 1)' aria-label="next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</section>

@code {
    //[QueryStringParameter]
    public string Query { get; set; } = string.Empty;

    //[QueryStringParameter]
    public int CurrentPage { get; set; } = 1;

    //[QueryStringParameter]
    public int PageCount { get; set; }

    //[QueryStringParameter]
    public int PageSize { get; set; } = 24;

    public HashSet<int> LinkedPages = new ();

    public int PreviousPage => CurrentPage - 1;

    public int NextPage => CurrentPage + 1;

    public Dictionary<string, object> GetParamaters(JToken property)
    {
        return new Dictionary<string, object> { { "Input", property } };
    }

    [Parameter]
    public TableDefinition TableDefinition { get; set; } = new TableDefinition();

    public CrudSearchResult<JObject> Data { get; set; } = new CrudSearchResult<JObject>();

    public IEnumerable<JObject> Results { get; set; } = Array.Empty<JObject>();

    protected string GetPageUrl(int pageNumber) => navigationManager.GetUriWithQueryParameter("page", pageNumber);

    protected bool IsDisabled(int pageNumber) => pageNumber == CurrentPage || pageNumber < 1 || pageNumber > PageCount;

    protected Type GetComponentType(string type)
    {
        return this.GetType().Assembly.GetTypes().FirstOrDefault(x => x.Name == type);
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        
        Console.WriteLine($"Paramters Set - {TableDefinition.NameKey}");

        if (string.IsNullOrWhiteSpace(TableDefinition.NameKey))
        {
            return;
        }

        var searchOptions = new CrudSearchOptions
        {
            SearchQuery = Query,
            Skip = (CurrentPage - 1) * PageSize,
            Take = PageSize,
        };

        Console.WriteLine($"Searching {TableDefinition.NameKey}");

        Data = await entityService.Search(searchOptions, TableDefinition.NameKey);

        Console.WriteLine("Searched!");

        Results = Data.Results;

        // TODO: Move this to service
        PageCount = ((Data.Count - 1) / PageSize) + 1;

        // TODO: Handle changes
        LinkedPages.Add(1);
        LinkedPages.Add(PageCount);
        LinkedPages.Add(CurrentPage);
        LinkedPages.Add(CurrentPage-1);
        LinkedPages.Add(CurrentPage-2);
        LinkedPages.Add(CurrentPage+1);
        LinkedPages.Add(CurrentPage+2);
    }
}
