@model DomainModeling.Crud.WebUi.Models.EntitySearchModel

@{
    Layout = "_Layout";
}

@if (Model == null)
{
    return;
}

<h1><span class="text-muted small">View all </span>  @Model.FormDefinition.DisplayName<span class="text-muted">(s)</span></h1>

<div class="py-3">
    <div class="mb-3 d-flex justify-content-end">
        <a href="@(Context.Request.Path)/create" class="btn btn-primary">Add New</a>
    </div>

    <div class="mb-3">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    </div>

    <table class="table table-striped" data-source="@Model.FormDefinition.DataSourceUrl">
    <thead>
        <tr>
            @foreach (var column in @Model.FormDefinition.Fields)
            {
                <th>@column.DisplayName</th>
            }
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model.Results) 
        {
            <tr>
                @foreach (var column in @Model.FormDefinition.Fields)
                {
                    <td>@(record.ContainsKey(column.FieldName) ? record[column.FieldName] : string.Empty)</td>
                }
                <td>
                    @* <a href="' + window.location + '/' + record.id + '"><i class="bi bi-eye-fill"></i></a>&nbsp; *@
                    <a href="' + window.location + '/edit/' + record.id + '"><i class="bi bi-pencil-fill"></i></a>&nbsp;
                    <a href="" onclick="alert(\'Delete\')"><i class="bi bi-trash-fill"></i>
                </td>
            </tr>
        }
    </tbody>
    </table>

    <partial name="~/Views/Shared/Partials/_Paginator.cshtml" />
</div>